{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },  
  "globals": {
    "cy": false,
    "Cypress": false,
    "before": false
  },
  "rules": {
    "func-names": ["error", "never"],
    "prettier/prettier": ["error"],
    "import/order": ["error", {"groups": ["builtin", "external", "parent", "sibling", "index"], "newlines-between" : "always"}],
    "no-console": "error"
  },
  "overrides": [
    {
      "files": "**/__tests__/*",
      "rules": {
        "no-unused-expressions": "off",
        "no-undef": "off"
      }
    }, {
      "files": "cypress/**/*",
      "rules": {
        "jest/valid-expect": "off"
      } 
    }
  ]
}
