version: '2.3'

services:
  app:
    container_name: app
    depends_on:
      pg:
        condition: service_healthy
    tty: true
    build:
      context: .
      target: dev
    volumes:
      - ./src:/app/src:delegated
      - ./server:/app/server:delegated
      - ./api:/app/api:delegated
      - ./scripts:/app/scripts:delegated
      - ./db:/app/db:delegated
      - ./shared:/app/shared:delegated
      - ./goodDataWithEtagAndKey.json:/app/goodDataWithEtagAndKey.json
    ports:
      - 3001:3001
      - 9227:9229
    command: yarn start
  pg:
    image: postgres:10.0-alpine
    container_name: pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 1s
      retries: 20
  pg_test:
    image: postgres:10.0-alpine
    container_name: test
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5555:5432"
    # command: '-p 5555'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 1s
      retries: 20

  pg_migrate:
    container_name: migrate
    environment: 
      NODE_ENV: test
      MIGRATING: 'true'
      PG_HOST: pg_test
      PG_PORT: 5432
    depends_on:
      pg_test:
        condition: service_healthy
    tty: true
    volumes:
      - ./db:/app/db:delegated
    build:
      context: .
      target: dev
    command: yarn migrate
