version: '2.4'


services:
  cypress:
    tty: true
    links:
      - "alb:local.carpedalan.com"
      - "alb:photos.local.carpedalan.com"
      - "alb:cdn.local.carpedalan.com"
    environment:
      CYPRESS_BASE_URL: http://local.carpedalan.com
    env_file: 
      - .env.ci
    image: registry.gitlab.com/carpedalan/carpedalan-web/cypress:latest
    depends_on:
      api: 
        condition: service_healthy
      alb: 
        condition: service_healthy
    command: yarn test
    volumes: 
      - ./cypress:/cy/cypress
      - ./.env.example:/cy/.env.example
      - ./.env.ci:/cy/.env
      - ./db/:/cy/db/
      - ./shared/:/cy/shared/

  alb:
    extends:
      file: docker-compose.base.yml
      service: alb
    volumes: 
      - ./nginx/nginx-e2e.conf:/etc/nginx/nginx.conf
      - ./dist:/assets/

    depends_on:
      api: 
        condition: service_healthy
      aws: 
        condition: service_started
    ports:
      - "80:80"


  api:
    stdin_open: true
    tty: true
    image: api:latest
    extends:
      file: docker-compose.base.yml
      service: api
    volumes:
      - './server:/app/server:delegated'
      - './scripts:/app/scripts:delegated'
      - './dist:/app/server/dist'
      - './index.js:/app/index.js:delegated'
      - './db:/app/db:delegated'
      - './shared:/app/shared:delegated'
      - './.env.ci:/app/.env'
    depends_on:
      pg:
        condition: service_healthy

    environment:
      PORT: 8001
      PROD_BUILD: 'true'
      ASSET_CDN_DOMAIN: cdn.local.carpedalan.com
  pg:
    extends:
      file: docker-compose.base.yml
      service: pg
  aws:
    extends:
      file: docker-compose.base.yml
      service: aws


