<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carpe Dalan</title>
  <meta name="description" content="The Dalan family app" />
  <link rel="icon" type="image/png" href="https://cdn.carpedalan.com/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="https://cdn.carpedalan.com/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://cdn.carpedalan.com/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://cdn.carpedalan.com/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Carpe Dalan"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="https://cdn.carpedalan.com/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="https://cdn.carpedalan.com/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="https://cdn.carpedalan.com/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="https://cdn.carpedalan.com/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="https://cdn.carpedalan.com/mstile-310x310.png" />


</head>
<body>
  <section id="root"></section>
  <aside id="modal"></aside>
  <script>
    var __SESSION__ = {{{session}}};
    var __META__ = {{{meta}}}
  </script>
  {{#if clientAssets}}
    {{#each clientAssets}}
    <script type="text/javascript" src="https://cdn.carpedalan.com{{this}}"></script>
    {{/each}}
  {{else}}
  <script type="text/javascript" src="/client.bundle.js"></script>
  {{/if}}
  {{#if isProd}}
  {{#unless ci}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133308117-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133308117-1');
  </script>
  {{/unless}}
  {{/if}}
</body>
</html>


