<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carpe Dalan</title>
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.carpedalan.com/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.carpedalan.com/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.carpedalan.com/favicon-16x16.png">
  <link rel="manifest" href="https://cdn.carpedalan.com/site.webmanifest">
  <link rel="mask-icon" href="https://cdn.carpedalan.com/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">  
</head>
<body>
  <section id="root"></section>
  <aside id="modal"></aside>
  <script>
    var __SESSION__ = {{{session}}};
    var __META__ = {{{meta}}}
  </script>
  {{#if clientAssets}}
    {{#each clientAssets}}
    <script type="text/javascript" src="https://cdn.carpedalan.com{{this}}"></script>
    {{/each}}
  {{else}}
  <script type="text/javascript" src="/client.bundle.js"></script>
  {{/if}}
  {{#if isProd}}
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133308117-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133308117-1');
  </script>

  {{/if}}
</body>
</html>


